@charset "utf-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to bottom, red, blue, black);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.countdown {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 500px;
    height: 500px;
    border: 2px solid black;
    border-radius: 10px;

    background-image: url(back01.jpg);
    background-position: center;
    background-size: cover;
}

.conteudo-countdown {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input#targetDate {
    padding: 5px;
    font-size: 17px;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.596);
    text-align: center;
    width: 100%;
    border: none;
    margin: 10px 0px;
}

.conteudo-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    height: 100%;
}

.countdown h1 {
    text-align: center;
    margin: 10px auto;
    color: white;
}

label {
    padding: 0px;
    color: white;
    font-size: 27px;
}

button {
    display: block;
    width: auto;
    margin: auto;
    font-size: 17px;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
}

p#countdown {
    color: whitesmoke;
    margin: 10px auto;
    text-align: center;
    font-size: 20px;
}

@media screen and (max-width: 400px) {
    .countdown {
        margin: 30px auto;
        width: 300px;
    }
}

@media screen and (min-width: 401px) and (max-width: 768px) {
    .countdown {
        height: 80%;
        margin: 10px auto;
        width: 700px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .countdown {
        margin: 0px auto;
        height: 60%;
        width: 700px;
    }
}

@media screen and (min-width: 1025px) {
    .countdown {
        margin: 10px auto;
        width: 1000px;
    }
}